.container{
    position: absolute;
    width: 330px;
    height: 200px;
    background-color: #eee;
    left: 38%;
    top: 25%;
}
.pe{
    position: absolute;
    top: 40%;
    width: 300px;
    height: 40px;
}
.bot{
    position: absolute;
    top: 80%;
    width: 200px;
    left: 20%;
    background-color:#eee;
    border: none;
    color:#eee;
}
.contenedor{
    position: absolute;
    width: 170px;
    height: 200px;
    top: 65%;
    left: 44%;
}
h1{
    position:absolute;
    top: 7%;
    left: 36%;
}